<p>Ola <%= @resource.email %>!</p>

<p>Caso voce tenha esquecido sua senha, atraves desse link voce pode cadastrar uma nova senha.</p>

<p><%= link_to 'Trocar senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Caso voce nao tenha requisitado essa operacao, por favor ignore esse e-mail.</p>
<p>Sua senha nao muda, ate voce acessar o link e efetuar a troca.</p>
