<!DOCTYPE HTML>
<html dir="ltr" lang="en-US">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>GoodNotice</title>

	<!--- CSS --->
	<%= stylesheet_link_tag "login", "estrutura"%>
	<%= javascript_include_tag "application"%>
	<body>
		<%=yield%>
	</body>
</html>
